* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(16,30,108,1) 100%);

}

.avatar {
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px;

}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
}
    
.link-list li {
    margin: 5px 10px;
}
.links-list li a {
    display: block;
    background-color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(54,77,204);
    font-weight: bold;
}

.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}